/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto Condensed", sans-serif;
    --secondary-font: "Bebas Neue", cursive;
    --primary-color: rgba(111, 48, 9, 0.716); 
    --secondary-color: rgb(240, 239, 212);
    --highlight-color-light: #00fff0;
}


/* Global styles */

body {
    font-family: var(--primary-font);
    padding: 57.15px; /* pushes the top of the header down under fixed navbar */
    background-color: var(--secondary-color);
}

.col-12 {
    padding: 1rem;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.logo {
    width: 75px; /* Adjust this value to your preferred size */
  height: auto;
  display: block;
  opacity: 0.5;
}

.section {
    padding-top: 4rem;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color)
}

.nav-link {
    color: var(--highlight-color-light);
}

/*Trainers section */

#trainers .card-body {
    height: auto;
}

/* Footer / contact */

footer {
    background-color: var(--primary-color);
}

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--highlight-color-light);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

/* Media queries */

/* large devices (tablets, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all service cards and pictures the same height for consistency */
.card-body {
        min-height: 218px;
    }
.card-img-top {
    height: 431px;
    object-fit: cover;
}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards and pictures the same height for consistency */
.card-body {
       height: 300px;
    }
.card-img-top {
    height: 220px;
    object-fit: inherit;
}
}


/* Medium devices (tablets, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Make all service cards and pictures the same height for consistency */
.card-body {
        height: 220px;
    }
.card-img-top {
    height: 400px;
    object-fit: inherit;
}
}

