/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto Condensed", sans-serif;
    --secondary-font: "Bebas Neue", cursive;
}


/* Global styles */

body {
    font-family: var(--primary-font);
    padding: 57.15px; /* pushes the top of the header down under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.logo {
    width: 75px; /* Adjust this value to your preferred size */
  height: auto;
  display: block;
  opacity: 0.5;
}

.section {
    padding-top: 4rem;
}